
<nav>
  <ul class="flex items-center justify-between">
    <li>
      <a href="{{ path('homepage') }}">
        <img src="image/logo_colivri.png" alt="Logo Colivri" class="w-24 h-24" />
      </a>
    </li>

    <li>
      <ul class="flex items-center gap-6 text-cyan-700 text-weight-700">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path('listing_list') }}">Annonces</a></li>
        <li><a href="#">Messagerie</a></li>
      </ul>
    </li>

    <li><a href="#">Se connecter</a></li>
  </ul>
</nav>