{% extends 'base.html.twig' %}

{% block body %}


<div class="bg-blue-900">
    <h1>Liste des utilisateurs:</h1>
    <div class="max-w-[900px] mx-auto flex flex-col justify-between gap-4">
    {% for user in users %}
    <div class="bg-white dark:bg-gray-700 border border-gray-200 dark:border-gray-700 p-6 shadow-lg rounded-lg hover:shadow-xl transition-all duration-300">
    <h2>{{ user.firstName }} {{ user.LastName }}</h2>
    </div>

    </div>

</div>


{% endblock %}